<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Claire's Salon</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="bigContainer">
      <h1>Claire's Hair Salon</h1>
      <div class="container">
        @RenderBody()
      </div>
    </div>
  </body>
</html>