@{
  Layout = "_Layout";
}
@using HairSalon.Models;
<h1>Stylists</h1>
<form method="post" action="/stylists/index">
  <input type="text" id="search" name="search">
  <button type="submit">Search by Name</button>
</form>
@if (@Model.Count == 0)
{
  <h3>No stylists have been added, or none meet search criteria.</h3>
} 
else 
{
  @foreach(Stylist Stylist in Model)
  {
    <div class="stylistOutside">
      @Html.ActionLink($"{Stylist.Name}", "Details", new { id = Stylist.StylistId })
    </div>
  }
}
<p>@Html.ActionLink("Add new Stylist", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>